html {
    height: 100% 
}

body { 
    height: 100%; 
    margin: 0; 
    padding: 0 
}
      
#map { 
    height: 100% 
}

.show {
    display: initial !important;
}

.hide {
    display: none !important;
}

.controls {
    margin-top: 16px;
    border: 1px solid transparent;
    border-radius: 2px 0 0 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    height: 32px;
    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

.control_disabled {
	color: rgb(184, 184, 184) !important;
}

.labels {
	white-space: nowrap;
	background-color: #ffffff;
	font-family: sans-serif, Verdana, Arial, Helvetica;
	font-size: 10px;
	font-weight: bold;
	padding: 1px 1px 2px 1px;
	border: solid 1px black;
	box-shadow: 2px 2px 1px #555555;
}

.item_state_label_enabled {
	position: relative;
	top: 34px;
}

.item_state_label_disabled {
	position: relative;
	top: 27px;
}

.item_state {
}

.stop_state {
    background-repeat: no-repeat;
    background-image: url(../images/stop.png);
}

.idle_state {
    background-repeat: no-repeat;
    background-image: url(../images/idle.png);
}

.move_state {
    background-repeat: no-repeat;
    background-image: url(../images/move.png);
}

.move_to_N {
	background-repeat: no-repeat;
	background-image: url(../images/direction/north.png);
}

.move_to_S {
    background-repeat: no-repeat;
    background-image: url(../images/direction/south.png);
}

.move_to_E {
    background-repeat: no-repeat;
    background-image: url(../images/direction/east.png);
}

.move_to_W {
    background-repeat: no-repeat;
    background-image: url(../images/direction/west.png);
}

.move_to_NE {
    background-repeat: no-repeat;
    background-image: url(../images/direction/northeast.png);
}

.move_to_NW {
    background-repeat: no-repeat;
    background-image: url(../images/direction/northwest.png);
}

.move_to_SE {
    background-repeat: no-repeat;
    background-image: url(../images/direction/southeast.png);
}

.move_to_SW {
    background-repeat: no-repeat;
    background-image: url(../images/direction/southwest.png);
}

.item_state_disabled {
    /*height: auto !important;
    min-width: initial !important;*/
	background-image: url(../images/spacer.gif) !important;
    height: 51px;
    min-width: 35px;
}

.item_state_enabled {
    height: 51px;
    min-width: 35px;
}

.marker_infowindow {	
    margin-top: 8px;
    background: #c0c0c0;
    font-family: Sans-Serif, Verdana, Arial, Helvetica;    
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 0 0  8px #000;
    box-shadow: 0 0 8px #000;
	padding: 0 5px 5px 5px;
}

.marker_infowindow_content {
	font-size: 11px;
	background: #fff;
	color: #434343;
}

.marker_infowindow .streetview {
	border-width: 0;
}

.marker_infowindow .event_time, .marker_infowindow .event_location, .marker_infowindow .landmark_info {
	padding: 3px 0 3px 0;
}

.marker_infowindow .view_address {
	padding-top: 5px;
	padding-bottom: 5px;
}

.marker_infowindow_title {
	text-shadow: 0 -1px #000000;
	font-weight: bold;
	padding: 5px;
}

.marker_infowindow p {
	padding: 1px 5px;
	margin: 0;
}

.marker_infowindow .job_description, .marker_infowindow .job_location {
	padding: 3px 5px;
}
.marker_infowindow .job_details, .marker_infowindow .job_toolbar, .marker_infowindow .dispatch_toolbar {
	margin: 3px 5px;
}

.dispatch_toolbar div {
	font-size: 11px;
	padding: 3px 1px 2px 18px;
	margin: 2px 5px 2px 0;
	display: inline-block;
}

.dispatch_toolbar .send_job {
	background: url(../images/send_pnd_job.gif) no-repeat left center;
}

.dispatch_toolbar .view_jobs {
	background: url(../images/view_pnd_job.gif) no-repeat left center; 
}

.dispatch_toolbar .send_message {
	background: url(../images/send_pnd_message.gif) no-repeat left center; 
}

.address_toolbar {
	margin: 5px 0 5px 0;
}
/*
.marker_infowindow .dispatch_toolbar a img, .infoWindowImg {
	text-decoration: none;
	border: 0 none;
	width: 103px;
	height: 20px;	
}
*/
.marker_infowindow .job_description_title, .marker_infowindow .job_location_title, .marker_infowindow .job_landmark {
	font-weight: bold;
}
.marker_infowindow .job_details {
	border-spacing: 0;
	border-collapse: collapse;
}
.marker_infowindow .job_details tr {
	line-height: 13px;
}

.traffic_control_hilite {
    font-weight: bold;
}

.select_dropdown {
    direction: ltr; 
    overflow: hidden; 
    text-align: left; 
    position: relative; 
    color: rgb(0, 0, 0); 
    font-family: Roboto, Arial, sans-serif; 
    -webkit-user-select: none; 
    font-size: 11px; 
    background-color: rgb(255, 255, 255); 
    padding: 1px 6px; 
    border-bottom-left-radius: 2px; 
    border-top-left-radius: 2px; 
    border-bottom-right-radius: 2px; 
    border-top-right-radius: 2px; 
    -webkit-background-clip: padding-box; 
    background-clip: padding-box; 
    border: 1px solid rgba(0, 0, 0, 0.14902); 
    -webkit-box-shadow: rgba(0, 0, 0, 0.298039) 0px 1px 4px -1px; 
    box-shadow: rgba(0, 0, 0, 0.298039) 0px 1px 4px -1px; 
    font-weight: 500;
}

.select_arrow {
    -webkit-user-select: none; 
    border: 0px; 
    padding: 0px; 
    margin: -2px 0px 0px; 
    position: absolute; 
    right: 6px; 
    top: 50%; 
    width: 7px; 
    height: 4px;
}

.select_option {
    color: rgb(86, 86, 86); 
    font-family: Roboto, Arial, sans-serif; 
    -webkit-user-select: none; 
    font-size: 11px; 
    background-color: rgb(255, 255, 255); 
    padding: 3px; 
    font-weight: 500;
}

.option_separator {
    margin-top: 1px; 
    margin-right: 0px; 
    margin-bottom: 1px; 
    margin-left: 0px; 
    border-top-width: 1px; 
    border-top-style: solid; 
    border-top-color: rgb(235, 235, 235); 
}

.options_container {
    background-color: white; 
    z-index: -1; 
    padding-top: 2px; 
    -webkit-background-clip: padding-box; 
    background-clip: padding-box; 
    border-width: 0px 1px 1px; 
    border-right-style: solid; 
    border-bottom-style: solid; 
    border-left-style: solid; 
    border-right-color: rgba(0, 0, 0, 0.14902); 
    border-bottom-color: rgba(0, 0, 0, 0.14902); 
    border-left-color: rgba(0, 0, 0, 0.14902); 
    -webkit-box-shadow: rgba(0, 0, 0, 0.298039) 0px 1px 4px -1px; 
    box-shadow: rgba(0, 0, 0, 0.298039) 0px 1px 4px -1px; 
    position: relative; 
    text-align: left; 
    display: none;
}
.select_checkbox_option {
    color: rgb(0, 0, 0); 
    font-family: Roboto, Arial, sans-serif; 
    -webkit-user-select: none; 
    font-size: 11px; 
    background-color: rgb(255, 255, 255); 
    padding: 3px 8px 3px 3px; 
    direction: ltr; 
    text-align: left; 
    white-space: nowrap;
}

.checkbox_span {
    box-sizing: border-box; 
    position: relative; 
    line-height: 0; 
    font-size: 0px; 
    margin: 0px 5px 0px 0px; 
    display: inline-block; 
    background-color: rgb(255, 255, 255); 
    border: 1px solid rgb(198, 198, 198); 
    border-top-left-radius: 1px; 
    border-top-right-radius: 1px; 
    border-bottom-right-radius: 1px; 
    border-bottom-left-radius: 1px; 
    width: 13px; 
    height: 13px; 
    vertical-align: middle;
}

.checkbox_image_container {
    position: absolute; 
    left: 1px; 
    top: -2px; 
    width: 13px;
    height: 11px; 
    overflow-x: hidden; 
    overflow-y: hidden; 
    display: none; /*when = block -> this is the "check" symbol*/
}

.checkbox_image {
    position: absolute; 
    left: -52px; 
    top: -44px; 
    -webkit-user-select: none; 
    border: 0px; 
    padding: 0px; 
    margin: 0px; 
    width: 68px; 
    height: 67px;
}

.checkbox_label {
    vertical-align: middle; 
	cursor: pointer;
}

#more_control {
    margin: 5px;
    z-index: 0;
    position: absolute;
    cursor: pointer;
    text-align: left;
    right: 0px;
    width: 150px;
    top: 0px;
}

#tabs {
    font-size: 82.5%;
}

#tabs_locate, #tabs_landmark, #tabs_job {
    height: 130px;
    overflow: auto;
}

#location_table, #landmark_table, #job_table {
    border-collapse: collapse;
    width: 100%;
}

#location_table thead tr, #landmark_table thead tr, #job_table thead tr {
    background-color: #cccccc;
    font-family: Verdana, Arial, Helvetica;
    font-weight: bold;
    border-left: 1px solid #999999; 
    border-top: 1px solid #999999; 
    border-bottom: 1px solid #999999;
}

#location_table tbody tr:nth-child(even), #landmark_table tbody tr:nth-child(even), #job_table tbody tr:nth-child(even) {
    background: #e0e0e0;
}

#location_table td, #landmark_table td, #job_table td {
    padding: 5px 5px;
}

.dispatch_toolbar a, #location_table a, #location_table a:link, #landmark_table a, #landmark_table a:link, #job_table a, #job_table a:link {
    color: #0000ff;
    text-decoration: none;
}
.dispatch_toolbar a:visited, #location_table a:visited, #landmark_table a:visited, #job_table a:visited {
    color: #0000ff;
    text-decoration: none;
}
.dispatch_toolbar a:hover, #location_table a:hover, #landmark_table a:hover, #job_table a:hover {
    cursor: pointer; 
    color: #0000ff;
    text-decoration: underline;
}
.dispatch_toolbar a:active, #location_table a:active, #landmark_table a:active, #job_table a:active  {
    color: #0000ff;
    text-decoration: underline;
}

.job_toolbar, .dispatch_toolbar {
	text-align: center;
}
.job_button {
	background-color: #003366;
	color: white;
	font-family: Arial, Verdana , Helvetica;
	font-size: 11px;
	width: 70px;
	padding: 2px 0;
	margin: 0 2px;
	cursor: pointer;
}

.job_button[disabled=disabled], .job_button:disabled  { 
	background: #cccccc;
	cursor: default;
}

.rounded_corners {
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    -khtml-border-radius: 7px;
    border-radius: 7px;
}