html {
    height: 100% 
}

body { 
    height: 100%; 
    margin: 0; 
    padding: 0 
}
      
#map { 
    height: 100% 
}

#search {
    width: 200px;
    background-color: #fff;
    padding: 0 11px 0 13px;
    font-size: 15px;
    font-weight: 300;
    text-overflow: ellipsis;
}

.controls {
    margin-top: 16px;
    border: 1px solid transparent;
    border-radius: 2px 0 0 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    height: 32px;
    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

.labels {
	white-space: nowrap;
	background-color: #ffffff;
	font-family: sans-serif, Verdana, Arial, Helvetica;
	font-size: 10px;
	font-weight: bold;
	padding: 1px 1px 2px 1px;
	border: solid 1px black;
	box-shadow: 2px 2px 1px #555555;
}

.marker_infowindow .event_time, .marker_infowindow .event_location {
	padding: 3px 0 3px 0;
}

.marker_infowindow_title {
    background-color: #999999;
	padding: 2px;
}

.marker_infowindow p {
	padding: 1px 0;
	margin: 0;
}

.marker_infowindow .job_description, .marker_infowindow .job_location {
	padding: 2px 0 5px 0;
}
.marker_infowindow .job_details, .marker_infowindow .job_toolbar, .marker_infowindow .dispatch_toolbar {
	margin: 2px 0 5px 0;
}
.address_toolbar {
	margin: 5px 0 5px 0;
}
.marker_infowindow .dispatch_toolbar a img, .infoWindowImg {
	text-decoration: none;
	border: 0 none;
	width: 103px;
	height: 20px;	
}
.marker_infowindow .job_description_title, .marker_infowindow .job_location_title, .marker_infowindow .job_landmark {
	font-weight: bold;
}
.marker_infowindow .job_details {
	border-spacing: 0;
	border-collapse: collapse;
}
.marker_infowindow .job_details tr {
	line-height: 10px;
}
.marker_infowindow .job_details td {
	vertical-align: top;
}
.marker_infowindow .job_details_title {
	width: 30px;
	height: 10px;
}
