html {
    height: 100% 
}

body { 
    height: 100%; 
    margin: 0; 
    padding: 0 
}
      
#map { 
    height: 100% 
}

#search {
    width: 200px;
    background-color: #fff;
    padding: 0 11px 0 13px;
    font-size: 15px;
    font-weight: 300;
    text-overflow: ellipsis;
}

.controls {
    margin-top: 16px;
    border: 1px solid transparent;
    border-radius: 2px 0 0 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    height: 32px;
    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

.labels {
	white-space: nowrap;
	background-color: #ffffff;
	font-family: sans-serif, Verdana, Arial, Helvetica;
	font-size: 10px;
	font-weight: bold;
	padding: 1px 1px 2px 1px;
	border: solid 1px black;
	box-shadow: 2px 2px 1px #555555;
}

.marker_infowindow .event_time, .marker_infowindow .event_location {
	padding: 3px 0 3px 0;
}

.marker_infowindow_title {
    background-color: #999999;
	padding: 2px;
}

.marker_infowindow p {
	padding: 1px 0;
	margin: 0;
}

.marker_infowindow .job_description, .marker_infowindow .job_location {
	padding: 2px 0 5px 0;
}
.marker_infowindow .job_details, .marker_infowindow .job_toolbar, .marker_infowindow .dispatch_toolbar {
	margin: 2px 0 5px 0;
}
.address_toolbar {
	margin: 5px 0 5px 0;
}
.marker_infowindow .dispatch_toolbar a img, .infoWindowImg {
	text-decoration: none;
	border: 0 none;
	width: 103px;
	height: 20px;	
}
.marker_infowindow .job_description_title, .marker_infowindow .job_location_title, .marker_infowindow .job_landmark {
	font-weight: bold;
}
.marker_infowindow .job_details {
	border-spacing: 0;
	border-collapse: collapse;
}
.marker_infowindow .job_details tr {
	line-height: 10px;
}
.marker_infowindow .job_details td {
	vertical-align: top;
}
.marker_infowindow .job_details_title {
	width: 30px;
	height: 10px;
}

.traffic_control_hilite {
    font-weight: bold;
}

.select_dropdown {
    direction: ltr; 
    overflow: hidden; 
    text-align: left; 
    position: relative; 
    color: rgb(0, 0, 0); 
    font-family: Roboto, Arial, sans-serif; 
    -webkit-user-select: none; 
    font-size: 11px; 
    background-color: rgb(255, 255, 255); 
    padding: 1px 6px; 
    border-bottom-left-radius: 2px; 
    border-top-left-radius: 2px; 
    border-bottom-right-radius: 2px; 
    border-top-right-radius: 2px; 
    -webkit-background-clip: padding-box; 
    background-clip: padding-box; 
    border: 1px solid rgba(0, 0, 0, 0.14902); 
    -webkit-box-shadow: rgba(0, 0, 0, 0.298039) 0px 1px 4px -1px; 
    box-shadow: rgba(0, 0, 0, 0.298039) 0px 1px 4px -1px; 
    font-weight: 500;
}

.select_arrow {
    -webkit-user-select: none; 
    border: 0px; 
    padding: 0px; 
    margin: -2px 0px 0px; 
    position: absolute; 
    right: 6px; 
    top: 50%; 
    width: 7px; 
    height: 4px;
}

.select_option {
    color: rgb(86, 86, 86); 
    font-family: Roboto, Arial, sans-serif; 
    -webkit-user-select: none; 
    font-size: 11px; 
    background-color: rgb(255, 255, 255); 
    padding: 3px; 
    font-weight: 500;
}

.option_separator {
    margin-top: 1px; 
    margin-right: 0px; 
    margin-bottom: 1px; 
    margin-left: 0px; 
    border-top-width: 1px; 
    border-top-style: solid; 
    border-top-color: rgb(235, 235, 235); 
}

.options_container {
    background-color: white; 
    z-index: -1; 
    padding-top: 2px; 
    -webkit-background-clip: padding-box; 
    background-clip: padding-box; 
    border-width: 0px 1px 1px; 
    border-right-style: solid; 
    border-bottom-style: solid; 
    border-left-style: solid; 
    border-right-color: rgba(0, 0, 0, 0.14902); 
    border-bottom-color: rgba(0, 0, 0, 0.14902); 
    border-left-color: rgba(0, 0, 0, 0.14902); 
    -webkit-box-shadow: rgba(0, 0, 0, 0.298039) 0px 1px 4px -1px; 
    box-shadow: rgba(0, 0, 0, 0.298039) 0px 1px 4px -1px; 
    position: relative; 
    text-align: left; 
    display: none;
}
.select_checkbox_option {
    color: rgb(0, 0, 0); 
    font-family: Roboto, Arial, sans-serif; 
    -webkit-user-select: none; 
    font-size: 11px; 
    background-color: rgb(255, 255, 255); 
    padding: 3px 8px 3px 3px; 
    direction: ltr; 
    text-align: left; 
    white-space: nowrap;
}

.uncheckbox_span {
    box-sizing: border-box; 
    position: relative; 
    line-height: 0; 
    font-size: 0px; 
    margin: 0px 5px 0px 0px; 
    display: inline-block; 
    background-color: rgb(255, 255, 255); 
    border: 1px solid rgb(198, 198, 198); 
    border-top-left-radius: 1px; 
    border-top-right-radius: 1px; 
    border-bottom-right-radius: 1px; 
    border-bottom-left-radius: 1px; 
    width: 13px; 
    height: 13px; 
    vertical-align: middle;
}

.uncheckbox_image_container {
    position: absolute; 
    left: 1px; 
    top: -2px; 
    width: 13px;
    height: 11px; 
    overflow-x: hidden; 
    overflow-y: hidden; 
    display: none; /*when = block -> this is the "check" symbol*/ 
}

.uncheckbox_image {
    position: absolute; 
    left: -52px; 
    top: -44px; 
    -webkit-user-select: none; 
    border: 0px; 
    padding: 0px; 
    margin: 0px; 
    width: 68px; 
    height: 67px;
}

.uncheckbox_label {
    vertical-align: middle; 
	cursor: pointer;
}

#more_control {
    margin: 5px;
    z-index: 0;
    position: absolute;
    cursor: pointer;
    text-align: left;
    right: 0px;
    width: 150px;
    top: 0px;
}
/*
#tabs { 
    padding: 0px; 
    background: none; 
    border-width: 0px; 
} 
#tabs .ui-tabs-nav { 
    padding-left: 0px; 
    background: transparent; 
    border-width: 0px 0px 1px 0px; 
    -moz-border-radius: 0px; 
    -webkit-border-radius: 0px; 
    border-radius: 0px; 
} 
#tabs .ui-tabs-panel { 
    background: #f5f3e5 url(../js/jquery-ui-1.10.4/css/smoothness/images/ui-bg_highlight-soft_75_cccccc_1x100.png) repeat-x scroll 50% top; 
    border-width: 0px 1px 1px 1px; 
}
*/

#tabs {
    font-size: 82.5%;
}

#tabs_locate {
    height: 130px;
    overflow: auto;
}

#tabs_locate .marker_infowindow p  {
    display: inline;
}

#tabs_locate .label {
    display: none;
}

#tabs_locate .marker_infowindow {
    display: table;
    font-size: 0.8em;
}
#tabs_locate  .marker_infowindow_title, #tabs_locate  .event_time, #tabs_locate  .event_location, #tabs_locate  .event_type  {
    display: table-cell;
    width: 25%;
}
#tabs_locate  .marker_infowindow_title {
    background-color: initial;
}

#tabs_locate .marker_infowindow:nth-child(odd) {
    background: #e0e0e0;
}

#location_table {
    border-collapse: collapse;
    width: 100%;
}

#location_table thead tr {
    background-color: #cccccc;
    font-family: Verdana, Arial, Helvetica;
    font-weight: bold;
    border-left: 1px solid #999999; 
    border-top: 1px solid #999999; 
    border-bottom: 1px solid #999999;
}

#location_table tbody tr:nth-child(even) {
    background: #e0e0e0;
}

#location_table td {
    padding: 2px 5px;
}